.reserve{
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.348);
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rContainer{
    background-color: #fff;
    padding: 20px;
    position: relative;
}
.rClose{
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
}

.rItem{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.rTitle{
    font-weight: 500;
}
.rDesc{
    font-weight: 300;
}
.rMax{
    font-size: 12px;
}
.rPrice{
    font-weight: 500;
}

.rButton{
    background-color: #0071c2;
    border-radius: 5px;
    border: none;
    color: white;
    padding: 10px 20px;
    cursor: pointer;
    margin-top: 10px;
    font-weight: bold;
    width: 100%;
}

.rItem{
    display: flex;
    align-items: center;
    gap: 50px;
    padding: 20px;
}

.rSelectRooms{
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    font-size: 10px;
    color: gray;
}

.room{
    display: flex;
    flex-direction: column;
}