.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;
    justify-content: space-between;
    z-index: 1;
}

.featuredItem{
    position: relative;
    color: white;
    border-radius: 10px;
    overflow: hidden;
    height: 250px;
}

.featuredImg{
    width: 100%;
    max-width: 1024px;
}

.featuredTitle{
    position: absolute;
    bottom: 20px;
    left: 20px;
}